.masthead {
    text-align:center;
    color:#fff;
    background-image:linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.719)),  url( ../../assets/banner.jpg );
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
    background-size:cover;
    opacity:0.8;
}
.masthead img{
  position: fixed;
  right: 30px;
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.intro-text{
    padding:125px;
}
.intro-lead-in{
  position: absolute;
  font-family:Roboto, sans-serif;
  font-size:50px;
  font-weight:700;
  color: #FF0000;
  top:170px;
  left:320px ;
}
.intro-lead-in:nth-child(1){
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate-reverse;  
}


.intro-lead-in:nth-child(2){
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes fade{
    0%,50% {
      opacity: 0;
}
    100%{
      opacity: 1;
  }
}
.intro-lead-out{
  font-family:Roboto, sans-serif;
  font-size:50px;
  font-weight:700;
  margin-top:-30px;
  margin-bottom:25px;
}
.intro-heading{
  font-family:Roboto, sans-serif;
  font-size:18px;
  font-weight:400;
}
.intro-contact{
  font-family:Roboto, sans-serif;
  font-size:14px;
  font-weight:700;
  color:#8DC63F;
}
.intro-contact:hover{
  font-family:Roboto, sans-serif;
  font-size:14px;
  font-weight:700;
  color:#000000;
  text-decoration:underline;
  cursor:pointer;
}
.btn {
  background-color: #6F9D30; /* Green */
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 12px;
  cursor: pointer;
}

.intro-places{
  font-family: Helvetica, sans-serif;
  font-size:24px;
  font-weight:500;
  color:#ffffff;
}