.section-heading {
    font-family:"Varela Round" ,sans-serif;
    font-size:30px;
    font-weight:500;
    color:#333333;
    text-align:center;
}
#column-effect {
  cursor: pointer;
  padding:20px 15px;
  
}
#column-effect:hover {
    background: linear-gradient(45deg, #5d960e, #c3f878bd);
  }
  
#column-effect h4{
    font-family:"Varela Round" ,sans-serif;
    font-size:24px;
    font-weight:500;
    padding:20px 10px 0 10px;
}
#column-effect ul{
    font-family:"Varela Round" ,sans-serif;
    font-size:14px;
    font-weight:500;
    margin-left:35px;
    padding:10px 30px;
    text-align:center;
}
.readmore-link{
    position:relative;
    color: #333333;
}
.readmore-link:hover{
    color: #333333;
}
.readmore-link i{
    font-weight: 100;
    position:relative;
    right:0;
    top:.15em;
    -webkit-transition:.3s all ease;
    transition:.3s all ease
}
.readmore-link:hover i{
    right:-10px
}
    